version: '3.8'

services:
  backend:
    build: 
    ports:
      - '3000:3000'
    env_file:
      - .env
    environment:
      - DATABASE_URL=mongodb://mongo:27017/reservation
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRATION=${JWT_EXPIRATION:-24h}
    depends_on:
      - mongo
    networks:
      - app-network

  mongo:
    image: mongo:7
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge
