version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - '3001:3000'
    env_file:
      - .env
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    ports:
      - '3000:3000'

  mongo:
    image: mongo:7
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
